$color1: #212529;
$color2: #343a40;
$color3: #495057;
$color4: #6c757d;
$color5: #adb5bd;
$color6: #ced4da;
$color7: #dee2e6;
$color8: #e9ecef;
$color9: #f8f9fa;

.kanban-container {
  position: relative;
  z-index: 10;
  display: flex;
  gap: 1.6rem;
  width: 50%;
  // max-height: 600px;
  flex-grow: 1;
  overflow-x: auto;
  padding: 2rem;
  scrollbar-width: thin;
  scrollbar-color: $color2 $color8;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  & .column-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 500px;
    padding: 0.2rem 1.2rem;
    width: 350px;
    // color: rgb(203 213 225 / 0.9);
    color: $color2;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: $color8;
    box-shadow: inset 0 1px 0 0 #ffffff0d;
    border: 1px solid rgba(194, 194, 194, 0.1);
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;

    &__box-title {
      outline: none;
      display: flex;
      height: 40px;
      align-items: center;
      justify-content: space-between;
      margin: 4px 0;
      cursor: grab;

      &--title {
        display: flex;
        color: $color3;
        // background: #a80f0f;
        padding: 0.4rem 0.8rem;
        box-shadow: inset 0 1px 0 0 #ffffff0d;
        cursor: pointer;
        font-weight: 800;
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;

        & .number {
          margin-right: 1rem;
        }
      }

      &--btn-trash {
        display: flex;
        gap: 1.2rem;
        & .button {
          padding: 0;
          outline: none;
        }

        & svg {
          width: 2rem;
        }
      }
    }

    &__bx-task {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 0.8rem;
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
      scrollbar-width: thin;
      & .task {
        box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.1);
        padding: 0.8rem;
        height: auto;
        min-height: 60px;
        display: flex;
        align-items: center;
        position: relative;
        text-align: left;
        font-size: 1.4rem;
        justify-content: space-between;
        cursor: pointer;
        border: 2px solid $color9;
        & p {
          text-wrap: pretty;
          width: fit-content;
          user-select: none;
        }
        &:hover {
          border: 2px solid $color5;
        }

        &__btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2rem;
          height: 2rem;
          opacity: 0.7;
          margin: 0 2px;
          padding: 0;
          outline: none;

          & svg {
            width: 2rem;
            stroke: $color1;
            margin: auto;
          }
        }

        &__menu {
          display: flex;
          justify-content: center;
          color: $color1;
        }
        // task back
        &.is-dragging {
          position: relative;
          border: 3px inset $color7;
          // font-size: 1.4rem;
          // min-height: 60px;
          // display: flex;
          // align-items: center;
          // text-align: left;
          // justify-content: space-between;
          opacity: 0.3;
          // height: 10rem;
          // min-height: 10rem;
        }
        & .textarea {
          width: 90%;
          field-sizing: content;
          resize: none;
        }
        border-radius: 0.8rem;
        -webkit-border-radius: 0.8rem;
        -moz-border-radius: 0.8rem;
        -ms-border-radius: 0.8rem;
        -o-border-radius: 0.8rem;
      }
    }

    &__btn-addtask {
      display: flex;
      gap: 0.2rem;
      align-items: center;
      padding: 1.6rem 1.6rem 1.6rem 0;
      margin: 0.4rem;
      cursor: pointer;
      outline: none;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      & svg {
        margin-left: 0.8rem;
        width: 2rem;
      }

      border-radius: 1.2rem;
      -webkit-border-radius: 1.2rem;
      -moz-border-radius: 1.2rem;
      -ms-border-radius: 1.2rem;
      -o-border-radius: 1.2rem;
    }

    &.is-dragging {
      opacity: 0.4;
      border: 2px solid purple;
    }
  }

  &__sortable {
    display: flex;
    gap: 1.6rem;

    &--box {
      display: flex;
      gap: 1.6rem;
    }

    &--button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      height: 6rem;
      width: 35rem;
      min-width: 35rem;
      cursor: pointer;
      background: $color6;
      font-size: 1.6rem;
      padding: 1.6rem;
      color: $color1;
      border: 2px solid pink;
      border-radius: 0.8rem;
      -webkit-border-radius: 0.8rem;
      -moz-border-radius: 0.8rem;
      -ms-border-radius: 0.8rem;
      -o-border-radius: 0.8rem;

      & svg {
        width: 4rem;
      }
    }
  }

  & .second-task {
    opacity: 0.4;
    background: #af202091;
    color: $color1;
    border: 2px solid $color1;
    padding: 0.8rem;
    height: auto;
    min-height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
    font-size: 1.4rem;
    justify-content: space-between;
    cursor: grab;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
  }
}

.panel-bx-task {
  position: absolute;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* From https://css.glass */
  background: rgba(131, 131, 131, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);

  & .panel {
    display: flex;
    width: 70%;
    height: 90%;
    margin: auto;
    padding: 1rem;
    /* From https://css.glass */
    background: $color9;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(94, 94, 94, 0.3);
    overflow-y: auto;
    scrollbar-width: thin;
    color: $color1;
    & .left {
      width: 65%;
      border-right: 1px solid #adb5bd;
      padding: 2rem 3.4rem;
      & .textarea {
        display: inline-block;

        resize: none;
        width: 90%;
        field-sizing: content;
        max-height: 30rem;
        min-height: fit-content;
        // background: red;
        color: $color1;
        font-size: 3rem;
        overflow-y: hidden;
        margin-top: 0.6rem;
        cursor: pointer;
        white-space: normal;
        padding: 0.8rem;
        // border: 1px solid red;
        &.edit {
          cursor: auto;
          // height: 12rem;
          // max-height: 12rem;
        }
      }
      &__box-props {
        min-height: 20rem;
      }
    }
    & .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 1rem;
      gap: 1.2rem;
      width: 35%;
      & .box-quill {
        width: 95%;
        margin: 0 auto;
        padding: 1rem 0;
        border-bottom: 1px inset $color4;
      }
      & .comments {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.8rem;
        width: 100%;
      }
    }
    &__title {
      display: flex;
      font-size: 3rem;
      color: $color1;
      align-items: center;
      height: fit;
      min-height: 13rem;
      // background: yellow;
      & svg {
        stroke: $color1;
        width: 10%;
        max-width: 4rem;
        display: inline-block;
      }
      &--edit-mode {
        border: 1px solid $color1;
      }
    }
    &__create-prop {
      display: flex;
      align-items: center;
      color: #3d3d3d;
      font-size: 1.4rem;
      & svg {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.8rem;
      }
      &:hover {
        color: #ffffff;
        opacity: 1;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
      }
    }

    & .panel-property {
      display: flex;
      align-items: center;
      width: 100%;
      height: 4.2rem;
      color: $color1;
      margin: 0.6rem auto;
      position: relative;
      right: 4rem;
      &__drag {
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 0.8rem;
        cursor: grab;
        width: 3rem;
        height: 3rem;
        opacity: 0.5;
        padding: 0.2rem;
        & svg {
          width: 2.4rem;
          height: 2.4rem;
        }
        &:hover {
          opacity: 1;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 0.6rem;
          -webkit-border-radius: 0.6rem;
          -moz-border-radius: 0.6rem;
          -ms-border-radius: 0.6rem;
          -o-border-radius: 0.6rem;
        }
      }
      &__title {
        align-items: center;
        display: flex;
        width: 20rem;
        font-size: 1.4rem;
        margin: 0 0.2rem;
        &:hover {
          background: rgba(255, 255, 255, 0.2);
          border-radius: 0.6rem;
          -webkit-border-radius: 0.6rem;
          -moz-border-radius: 0.6rem;
          -ms-border-radius: 0.6rem;
          -o-border-radius: 0.6rem;
        }
        & svg {
          width: 2.4rem;
          height: 2.4rem;
          margin-right: 0.8rem;
        }
        &--edit {
          width: 100%;
        }
      }
      &__input {
        display: flex;
        align-items: center;
        cursor: pointer;
        flex-grow: 1;
        height: 100%;
        font-size: 1.6rem;
        &:hover {
          background: rgba(255, 255, 255, 0.2);
          border-radius: 0.6rem;
          -webkit-border-radius: 0.6rem;
          -moz-border-radius: 0.6rem;
          -ms-border-radius: 0.6rem;
          -o-border-radius: 0.6rem;
        }
      }
    }
    & .panel-description {
      padding: 4rem 0;
      & .quill {
        border: none;
        & .ql-toolbar {
          border: none;
        }
        & .ql-container {
          border: 1px inset $color3;
          border-radius: 0.8rem;
          -webkit-border-radius: 0.8rem;
          -moz-border-radius: 0.8rem;
          -ms-border-radius: 0.8rem;
          -o-border-radius: 0.8rem;
        }
      }
      &__title {
        display: flex;
        align-items: center;
        font-size: 3.2rem;
        color: $color1;
        margin-bottom: 0.8rem;
        & svg {
          margin-right: 0.8rem;
          width: 3rem;
          height: 3rem;
          stroke: $color1;
        }
      }
    }
    & .SelectDinamic {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      flex-grow: 1;
      height: 100%;
      font-size: 1.6rem;
      &.false {
        &:hover {
          background: rgba(255, 255, 255, 0.2);
          border-radius: 0.6rem;
          -webkit-border-radius: 0.6rem;
          -moz-border-radius: 0.6rem;
          -ms-border-radius: 0.6rem;
          -o-border-radius: 0.6rem;
        }
      }
      &__label {
        width: 100%;
        max-width: 50rem;
        cursor: pointer;
        &.true {
          background: rgba(255, 255, 255, 0.2);
          border-radius: 0.6rem;
          -webkit-border-radius: 0.6rem;
          -moz-border-radius: 0.6rem;
          -ms-border-radius: 0.6rem;
          -o-border-radius: 0.6rem;
        }
      }
      &__option-content {
        display: flex;
        width: 100%;
        height: 4.2rem;
        padding: 0.4rem;
        align-items: center;
        color: rgba(255, 255, 255, 0.3);
        &--placeholder {
          padding-left: 0.4rem;
          font-size: 1.6rem;
        }
        &--option {
          display: flex;
          color: #292929;
          display: inline-block;
          background: #adb5bd;
          background: transparent;
          color: $color1;
          padding: 0.4rem 0.6rem;
          cursor: default;
          & .option-delete {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            margin-right: 0.6rem;
          }
          &:hover {
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            -webkit-box-shadow: 0px 10px 28px -14px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 10px 28px -14px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 10px 28px -14px rgba(0, 0, 0, 0.75);
          }
        }
        & .content-option {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
      &__options-content {
        display: flex;
        flex-direction: column;
        height: auto;
        background: $color5;
        padding: 0.4rem 0;
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
        &--option {
          display: flex;
          color: $color1;
          display: inline-block;
          background: $color8;
          margin: 0.2rem 0.6rem;
          border-radius: 0.4rem;
          -webkit-border-radius: 0.4rem;
          -moz-border-radius: 0.4rem;
          -ms-border-radius: 0.4rem;
          -o-border-radius: 0.4rem;
          border: 1px solid #6c757d;
          padding: 0.4rem 0.6rem;
          cursor: default;
          & .option-delete {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            margin-right: 0.6rem;
          }
          &:hover {
            transform: scale(1.01);
            -webkit-transform: scale(1.01);
            -moz-transform: scale(1.01);
            -ms-transform: scale(1.01);
            -o-transform: scale(1.01);
            -webkit-box-shadow: 0px 10px 28px -14px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 10px 28px -14px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 10px 28px -14px rgba(0, 0, 0, 0.75);
          }
        }
        & .content-option {
          display: flex;
          justify-content: space-between;
        }
      }
      &__hide-content {
        position: relative;
        z-index: 1000;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        display: none;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
        & input {
          padding-left: 0.8rem;
          width: 100%;
          margin-top: 0.2rem;
          height: 4.2rem;
          color: $color9;
          background: $color4;
          border-radius: 0.6rem;
          -webkit-border-radius: 0.6rem;
          -moz-border-radius: 0.6rem;
          -ms-border-radius: 0.6rem;
          -o-border-radius: 0.6rem;
        }
        &.true {
          display: flex;
        }
      }
    }
    & .box-comment {
      position: relative;
      width: 100%;
      &__content {
        font-size: 1.2rem;
        background: $color7;
        padding: 1rem 2rem;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
      }
      &__buttons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: -2rem;
        left: 0;
        gap: 0.2rem;
        padding: 0 2rem;
        width: 100%;
        color: #3d3481;
        margin: auto;
        &--box {
          display: flex;
          visibility: hidden;
        }
        & button {
          &:hover {
            color: #171046;
          }
        }
      }
      &:hover .box-comment__buttons--box {
        visibility: visible;
      }
    }
  }
}

.menu-column {
  width: 20rem;
  width: 70%;
  height: 90%;
  margin: auto;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.9);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(94, 94, 94, 0.3);
  padding: 1rem 1.6rem;
}

.dropdown-content {
  & .ant-dropdown-menu {
    background: $color9;
  }
  & .ant-dropdown-menu-item-active {
    opacity: 0.9;
    background: #110a42;
  }
}

.prop-input {
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding-left: 0.8rem;
  &.edit {
    cursor: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
  }
  &.date {
    width: auto;
  }
}

.bookmarkBtn {
  width: 160px;
  height: 40px;
  border-radius: 40px;
  margin: 2rem;
  border: none;
  background-color: $color7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.062);
}

.IconContainer {
  width: 30px;
  height: 30px;
  user-select: none;
  pointer-events: none;
  background-color: $color1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
  & .iconSend {
    width: 25px;
    height: 25px;
    stroke: white;
    color: white;
  }
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 100px;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(26, 26, 26);
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
  font-weight: 600;
}

.bookmarkBtn:hover .IconContainer {
  width: 120px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}

@media only screen and (min-width: 300px) and (max-width: 620px) {
  .panel-bx-task {
    & .panel {
      width: 95%;
      flex-direction: column;
      & .left {
        width: 100%;
        padding: 0.8rem;
      }
      & .right {
        width: 100%;
      }
    }
  }
}
